@media only screen and (max-width:1280px){
    .text p{
        font-size: 80px;
         text-align: center;/*Запитати, так як при такій власт, just cont не треба в хедеры*/
        }
    .undertext p{
    font-size: 40px; 
    }
    .Calendar{
        width: 90%;
    }
    .sortButton{
        width: 80px;
        height: 30px;
        font-size: 15px;
        right:11%;
       }
      .groupButton{
        width: 80px;
        font-size: 15px;
        height: 30px;
       }
       .grid-container{
        grid-template-rows: 1.5fr 0.5fr 4fr 1.5fr;
        margin-bottom: 50px;
       }
}


@media only screen and (max-width:768px){
    .text p{
        font-size: 60px;
         text-align: center;/*Запитати, так як при такій власт, just cont не треба в хедеры*/
        }
    .undertext p{
    font-size: 30px; 
    }
       .grid-container{
        grid-template-rows: 1fr 3.5fr 2fr;
        grid-template-columns: 1fr 3.5fr 3.5fr;
        grid-template-areas: 
        "header header header"
        "menu content content"
        "footer footer footer "
        ;
       }
       /* .content{
        display: grid;
        grid-template-rows: repeat(3, 300px);
        grid-template-columns: repeat(4, 1fr);
        margin: 0 10px;
        height:auto;
    /* } абоооо*/

        .content{
            
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
            "Item1 Item2 Item3 Item4"
            "Item5 Item2 Item7 Item7"
            "Item6 Item8 Item7 Item7 "
            ;
       } 
    .item1{
        grid-area: Item1; 
    }
    .item2{
        grid-area: Item2;
    }
    .item3{
        grid-area: Item3;
    }
    .item4{
        grid-area: Item4;
    }
    .item5{
        grid-area: Item5;
    }
    .item6{
        grid-area: Item6;
    }
    .item7{
        grid-area: Item7;
    }
    .item8{
        grid-area: Item8;
    }
    .item9{
        display: none;
        grid-area: Item9;
    }
    .item10{
        display: none;
        grid-area: Item10;
    }
    .item11{
        display: none;
        grid-area: Item11;
    }
    .content p {
        font-size: 20px;
    }
       .menu{
        grid-column: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background: #30E8BF;  /* fallback for old browsers */
    }
       .sortButton{
        display: none;
       }
      .groupButton{
        display: none;
       }
       .menu a {
        margin: 20px auto auto 0; 
        width: 100%;
        height: 100%;
     }
     .Calendar p {
        font-size: 15px;
    }
}


@media only screen and (max-width:480px){

       .grid-container{
        grid-template-rows: 0.5fr 0.5fr 3fr 2fr;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "menu"
        "content"
        "footer"
        ;
       }
       .content{
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
        "Item1 Item7 Item7"
        "Item5 Item8 Item9"
        "Item11 Item6 Item10 "
        ;
     } 
     .item2{
        display: none;
    }
    .item3{
        display: none;
    }
    .item4{
        display: none;
    }
    .item9{
        display: grid;
    }
    .item10{
        display: grid;
    }
    .item11{
        display: grid;
    }
  

       .menu{
        grid-area: menu;
        grid-column: 1;
        display: flex;
        justify-content: center;
        align-items: center;  
        flex-direction: row; 
        background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    
        .menu a {
        margin: auto 10px; 
        text-decoration: none;
        font-size: 19px;
        font-weight: 800;
        color: black;
        height: auto;
        width: auto;
        }
        .text p{
            font-size: 40px;
             text-align: center;/*Запитати, так як при такій власт, just cont не треба в хедеры*/
            }
        .undertext p{
        font-size: 20px; 
        text-align: center;
        line-height: 40px;
        }
        .title p{
            font-size: 20px;
        }
        .footerText1 p{
            font-size: 15px;
        }
        .content p {
            font-size: 20px;
        }
        .Wifi img{
            width: 60px;
            height: 60px;
        }
        .Calendar p {
            font-size: 15px;
        }
}
@media only screen and (max-width:320px){
    .grid-container{
        grid-template-rows: 0.5fr 0.25fr 3fr 0.5fr;
    }
    .semiFot2 nav{
        width: 20%;
        margin: 0 0 0 15px;
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
    .content{
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "Item1 Item1"
        "Item6 Item5"
        "Item7 Item7"
        "Item9 Item9"
        "Item3 Item4"
        ;
     } 
     .item3{
        display: grid;
    }
     .item4{
        display: grid;
    }
    .item8{
        display: none;
    }
 
    .item10{
        display: none;
    }
    .item11{
        display: none;
    }

    .Wifi img {
        width: 30px;
        height: 30px;
    }
    .semiFot2 a {
        font-size: 15px;
    }
    .menu a {
        font-size: 15px;
    }
    .content p {
        font-size: 15px;
    }
    .footerText1 p {
        margin: 0 0 0 15px;
    }
    #A1{
        grid-row: 1; 
        grid-column: 1/ span 2; 
    }
    #A2{
        grid-row: 2; 
        grid-column: 1/span 2; 
    }
    #A3{
        grid-row: 3; 
        grid-column:2; 
    }
    #A4{
        grid-row: 3; 
        grid-column: 1 
    }
    #A5{
        grid-row: 2; 
        grid-column:2; 
    }
    #A6{
        grid-row: 3; 
        grid-column:1; 
    }
    #A7{
        grid-row: 5; 
        grid-column:1/span 2; 
    }
    .semiFot3 li {
        font-size: 15px;
    }
    .Flash img {
        width: 30px;
        height: 30px;
    }
    .text p {
        margin-top: 10px;
    }
}